@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(180deg, #cae8ff 0%, #e1e8ed 12.69%);
	color: var(--text-color);
	font-family: var(--font-main);
	font-size: 14px;
	text-wrap: balance;
	@include small-mobile {
		font-size: 12px;
	}
}

img {
	display: block;
	object-fit: cover;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
